@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Prevent transition on initial load */
.no-transition {
  transition: none !important;
}

/* Add transition after initial load */
body:not(.no-transition) * {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes bounce {
  0%,
  20%,
  100% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-5px);
  }
}

.bounce-animation {
  animation: bounce 6s infinite ease-in-out;
}
